<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>My name is <%= name %></p>

    <ul>
      <% for(var i =0; i< 3; i++){ %>
        <li>
          Loop i = <%= i %>
        </li>

      <% } %>
    </ul>
  </body>
</html>
